# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 18
      uses: actions/setup-java@v1
      with:
        java-version: 18
    - name: Test
      run: mvn clean test
    - name: Build with Maven
      run: mvn -B package --file pom.xml

      # 上传生成的文件作为 Artifact
    - name: Upload Maven package
      uses: actions/upload-artifact@v4
      with:
        name: java-artifacts
        path: target/
